


        <ul class="nav nav-list">
            <li class="" >
                    <a [routerLink]="['/dashboard']" routerLinkActive="active " >
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> Tổng Quan </span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="" routerLinkActive="open active">
                <a href=""  class="dropdown-toggle">
                    <i class="menu-icon fa fa-desktop"></i>
                    <span class="menu-text">
                        Nhân Sự
                    </span>
                    <b class="arrow fa fa-angle-down"></b>

                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="" >
                        <a [routerLink]="['/timecard']" routerLinkActive="active" class="">
                            <i class="menu-icon fa fa-caret-right"></i>

                            Bảng Chấm Công

                        </a>

                    </li>

                    <li class="">
                        <a [routerLink]="['/timecard/daily']" routerLinkActive="active" class="">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Tình Hình Trong Ngày
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="elements.html">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Tình Hình Trong Tuần
                        </a>

                        <b class="arrow"></b>
                    </li>



                    <li class="">
                        <a  class="dropdown-toggle">
                            <i class="menu-icon fa fa-caret-right"></i>

                             Sơ Đồ Công Ty
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a >
                                    <i class="menu-icon fa fa-leaf green"></i>
                                    Item #1
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a  class="dropdown-toggle">
                                    <i class="menu-icon fa fa-pencil orange"></i>

                                    4th level
                                    <b class="arrow fa fa-angle-down"></b>
                                </a>

                                <b class="arrow"></b>

                                <ul class="submenu">
                                    <li class="">
                                        <a >
                                            <i class="menu-icon fa fa-plus purple"></i>
                                            Add Product
                                        </a>

                                        <b class="arrow"></b>
                                    </li>

                                    <li class="">
                                        <a >
                                            <i class="menu-icon fa fa-eye pink"></i>
                                            View Products
                                        </a>

                                        <b class="arrow"></b>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="" >
                    <a [routerLink]="['/profile']" routerLinkActive="active " >
                    <i class="menu-icon fa fa-user"></i>
                    <span class="menu-text"> Thông Tin Ca Nhân </span>
                </a>

                <b class="arrow"></b>
            </li>

        </ul><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
