<div id="navbar" class="navbar navbar-default    navbar-fixed-top      ace-save-state">
<app-header></app-header>
</div>
    <div class="main-container ace-save-state" id="main-container">
             <div id="sidebar" class="sidebar       sidebar-fixed           responsive                    ace-save-state">
                <app-sidebar></app-sidebar>
            </div>
            <div class="main-content">
                <div class="main-content-inner">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <router-outlet></router-outlet>
                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.page-content -->
                </div>
            </div><!-- /.main-content -->
            <div class="footer"> <app-footer></app-footer></div>
           
    
            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div>
    


